@model IEnumerable<BingCC.Models.AspNetProducts>

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>BingCC Online Store</h1>
        <p class="lead">As a new e-commerce pioneer, BingCC is committed to bring customer cheaper stuff!</p>
        @*<p><a href="https://asp.net" class="btn btn-danger btn-lg">Start shopping &raquo;</a></p>*@
        @Html.ActionLink("Start shopping!", "Index", "AspNetProducts", new { area = "" }, new { @class = "btn btn-danger btn-lg" })
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Cheapest stuff!</h2>
        <p>
            Why do you waste your time if BingCC does not have everything cheaper?
            Take a look at our cheap items now!
            <br />
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301865">Cheapest items &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Best seller</h2>
        <p>
            If you have no idea what to buy, 
            <br />just follow the majority.
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301866">Best sellers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I'm feeling lucky</h2>
        <p>
            Click the button below if you are very rich, and just want to buy something randomly.
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Random walk &raquo;</a></p>
    </div>

    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductIntro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductIntro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductImage)
                </td>
            </tr>
        }

    </table>*@
</div>