@model BingCC.Models.AspNetProducts
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Item Details";
    ViewBag.UserId = User.Identity.GetUserId();
    ViewBag.ProductId = Model.ProductId;
}

<h2>@ViewBag.UserId</h2>
<h2>@ViewBag.ProductId</h2>

<div>
    <h4>AspNetProducts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            ￥@Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            Introduction
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductIntro)
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ProductImage)*@
            <img src="~/images/products/1.jpg" alt="Sample Photo" />
        </dd>

    </dl>
</div>



@*<input type="submit" value="Create" class="btn btn-default" />*@
@Html.ActionLink("Add to cart", "SucceedAddToCart", "AspNetCartProducts", new { userId = ViewBag.UserId, productId = ViewBag.ProductId }, new { @class = "btn btn-danger btn-lg" })

<p>
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Back to List", "Index", "AspNetProducts", new { area = "" }, new { @class = "btn btn-danger btn-lg" })
</p>
