@model BingCC.Models.AspNetProducts
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Item Details";
    ViewBag.UserId = User.Identity.GetUserId();
    ViewBag.ProductId = Model.ProductId;
}

<h2>@Html.DisplayFor(model => model.ProductName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Price
        </dt>

        <dd>
            ￥@Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            Introduction
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductIntro)
        </dd>

        <dt>
            Image
        </dt>

        @if (@Model.ProductImage != null)
        {
            <dd>
                <img src="@Url.Content(Model.ProductImage)" class="img-responsive" alt="Sample Photo" />
            </dd>
        }
        else
        {
            <dd>
                <img src="@Model.ProductImage" class="img-responsive" alt="Sample Photo" />
            </dd>
        }
    </dl>
</div>

@*<input type="submit" value="Create" class="btn btn-default" />*@


@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add to cart", "SucceedAddToCart", "AspNetCartProducts", new { userId = ViewBag.UserId, productId = ViewBag.ProductId }, new { @class = "btn btn-danger btn-lg" })
}
else
{
    @Html.ActionLink("Add to cart", "Login", "Account", new { userId = ViewBag.UserId, productId = ViewBag.ProductId }, new { @class = "btn btn-danger btn-lg" })

}
<br />
<br />
@*@Html.ActionLink("Back to List", "Index")*@
@Html.ActionLink("Back to List", "Index", "AspNetProducts", new { area = "" }, new { @class = "btn btn-danger btn-lg" })
