@model IEnumerable<BingCC.Models.AspNetCartProducts>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // calculate current sum price in the cart
    ViewBag.currentCartSum = 0;
    foreach (var item in Model)
    {
        ViewBag.currentCartSum += item.AspNetProducts.ProductPrice;
    }
}

@if (Request.IsAuthenticated)
{
    <h2>Cart</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetProducts.ProductName)
            </th>
            <th>
                Price
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.AspNetUsers.Email)
                </th>*@

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AspNetProducts.ProductName)*@
                    @Html.ActionLink(item.AspNetProducts.ProductName, "Details", "AspNetProducts", new { id = item.AspNetProducts.ProductId }, new { })
                </td>
                <td>
                    ￥@Html.DisplayFor(modelItem => item.AspNetProducts.ProductPrice)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                    </td>*@
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id = item.CartProductId }) |*@
                    @Html.ActionLink("Remove", "Delete", new { id = item.CartProductId })
                </td>
            </tr>
        }
        </table>

        <h3>Total: ￥ @ViewBag.currentCartSum</h3>

        @Html.ActionLink("Buy them all", "ConfirmOrder", "AspNetCartProducts", new { area = "" }, new { @class = "btn btn-danger btn-lg" })
    }
    else
    {
        Response.Redirect("~/Account/Login");
    }


